.footer {
    background-color: rgba(44, 44, 44, 1);
    margin-top: -2px;
}

.footer__column {
    max-width: 1362px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: 14px;
}

.footer__nav {
    padding-top: 59px;
    padding-bottom: 58.5px;
    padding: clamp(1.6875rem, 1.0753rem + 2.1769vw, 3.6875rem) clamp(0.875rem, -1.2583rem + 7.585vw, 7.84375rem) clamp(2.1875rem, 1.7379rem + 1.5986vw, 3.65625rem) clamp(0.875rem, -1.2583rem + 7.585vw, 7.84375rem);
    display: flex;
    border-top: 1px solid rgba(122, 122, 122, 1);
    border-bottom: 1px solid rgba(122, 122, 122, 1);
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 20px;
}

.footer__nav-item {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.footer__title {
    font-size: 13px;
    font-weight: 300;
    line-height: 30px;
    position: relative;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);
    width: max-content;
}

.footer__title:after {
    content: "";
    position: absolute;
    bottom: -7.5px;
    left: 0;
    width: 100%;
    height: 1px;
    background: rgba(122, 122, 122, 1);
}

.footer__title:hover, .footer__list a:hover {
    color: rgba(188, 163, 127, 1);
}

.footer__contacts {
    display: flex;
    flex-direction: column;
}

.footer__phone,
.footer__mail {
    font-size: 13px;
    font-weight: 300;
    line-height: 30px;
    color: rgba(255, 255, 255, 1);
}

.footer__mail::before {
    content: url('../img/favicon/mail.svg');
    margin-right: 8px;
    width: 100%;
}

.footer__phone::before {
    content: url('../img/favicon/phone.svg');
    margin-right: 10px;
}

.footer__nav-item:nth-child(1) {
    margin-right: 76px;
    max-width: 67px;
}

.footer__nav-item:nth-child(2) {
    margin-right: 35px;
    max-width: 117px;
}

.footer__nav-item:nth-child(3) {
    margin-right: 26px;
    max-width: 148px;
}

.footer__nav-item:nth-child(4) {
    margin-right: 43px;
    max-width: 148px;
}

.footer__nav-item:nth-child(5) {
    margin-right: 24px;
    max-width: 148px;
}

.footer__nav-item:nth-child(6) {
    margin-right: 77px;
    max-width: 78px;
}

.footer__logo {
    margin-bottom: 9px;
}

.footer__logo img {
    width: 87px;
    height: 30px;
}

.footer__list a {
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;
    color: rgba(255, 255, 255, 1);
}

.footer__policy {
    width: 100%;
    display: flex;
    padding-top: 17.5px;
    padding-bottom: 13px;
    gap: 36px;
    justify-content: center;
}

.policy__text_1, .policy__text_1 a {
    font-size: 12px;
    font-weight: 300;
    line-height: 14.87px;
    color: rgba(153, 153, 153, 1);
    max-width: 357px;
}

.policy__text_1 a {
    position: relative;
    display: inline-block;
}

.policy__text_1 a:after {
    content: "";
    position: absolute;
    bottom: -7px;
    left: 0;
    width: 100%;
    height: 1px;
    background: rgba(153, 153, 153, 1);
}

.policy__text_2 {
    max-width: 727px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 9px;
    line-height: 15px;
    color: rgba(153, 153, 153, 1);
}

.policy__text_3 {
    display: none;
    font-size: 12px;
    font-weight: 300;
    line-height: 30px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
}

.stub {
    min-height: 30px;
}

@media (max-width: 768px) {
    .footer__contacts {
        order: -1;
    }

    .footer__nav {
        flex-direction: column;
        align-items: start;
        width: 100%;
    }

    .stub {
        display: none;
    }


    .policy__text_3 {
        display: block;
    }

    .policy__text_1 a {
        color: rgba(255, 255, 255, 1);
    }

    .policy__text_1 a:after {
        bottom: 0;
    }
    
    .footer__policy {
        display: flex;
        padding-top: 17.5px;
        padding-bottom: 13px;
        gap: 9px;
        justify-content: center;
        flex-direction: column;
    }

    .policy__text_2 {
        line-height: 13px;
    }

    .policy__text_1, .policy__text_1 a {
        font-size: 10px;
        line-height: 13px;
        max-width: 225px;
    }

    .footer__policy {
        padding-top: 16px;
    }

    .footer__title {
        font-size: 15px;
        line-height: 14px;
    }

    .footer__list a {
        line-height: 26px;
    }

    .footer__list {
        display: none;
    }
    
    .footer__list.footer__catalog {
        display: block; 
    }

    .footer__title:after {
        display: none;
    }

    .footer__list a {
        color: rgba(153, 153, 153, 1);
    }

    .footer__nav-item.display-none {
        display: none;
    }

    .footer__nav-item {
        gap: 8px;
    } 
}