.manufacter-video {
    margin-top: 160px;
    margin-bottom: clamp(2.375rem, 1.1888rem + 4.2177vw, 6.25rem);
}

.manufacter-video__container {
    max-width: 1920px;
    margin: 0 auto;
    padding-left: clamp(1.875rem, -15.0404rem + 25.2941vw, 15.3125rem);
    padding-right: clamp(1.875rem, -5.5993rem + 11.1765vw, 7.8125rem);
}

.manufacter-video__row {
    display: flex;
    gap: 84px;
}

.manufacter-video__row .left-navigation-column ul {
    display: flex;
    flex-direction: column;
    min-width: 150px;
    text-align: right;
}

.manufacter-video__row .left-navigation-column ul a {
    font-size: 17px;
    font-weight: 300;
    line-height: 37px;
    color: rgba(44, 44, 44, 1);
}

.manufacter-video__group {
    position: relative;
    width: 100%;
}

.manufacter-video__group video {
    width: 100%;
    object-fit: cover;
    max-height: 525px;
}

.video-btn {
    cursor: pointer;
    position: absolute;
    right: 20.13px;
    bottom: 19.37px;
}

.manufacter-info {
    margin-bottom: clamp(2.375rem, 1.1888rem + 4.2177vw, 6.25rem);
}

.manufacter-info__container {
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
    justify-content: end;
}

.manufacter-info__column {
    display: flex;
    flex-direction: column;
    gap: clamp(3.75rem, 2.9273rem + 2.9252vw, 6.4375rem);
}

.manufacter-info__row-1 {
    display: flex;
    max-width: 1441px;
    width: 100%;
    gap: 66px;
}

.manufacter-info__row-2 {
    display: flex;
    max-width: 1441px;
    width: 100%;
    gap: 82px;
    padding-right: clamp(0.9375rem, -1.0523rem + 7.0748vw, 7.4375rem);
}

.manufacter-info__img {
    max-width: 759px;
    width: 100%;
    max-height: 519px;
    height: 100%;
}

.manufacter-info__row-2 .manufacter-info__img {
    max-width: 550px;
    max-height: 598px;
}

.manufacter-info__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.manufacter-info__text {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.manufacter-info__row-1 .manufacter-info__text {
    max-width: 616px;
}

.manufacter-info__row-2 .manufacter-info__text {
    max-width: 690px;
}

.manufacter-info__text p {
    /* line-height: clamp(1.875rem, 1.588rem + 1.0204vw, 2.8125rem); */
    display: block;
    line-height: 150%;
    font-size: clamp(0.6875rem, 0.5153rem + 0.6122vw, 1.25rem);
    font-weight: 300;
}

.manufacter-info__text h2 {
    text-transform: uppercase;
    margin-bottom: clamp(1.5rem, 1.1365rem + 1.2925vw, 2.6875rem);
    font-family: PF Regal Display Pro;
    font-size: clamp(1rem, 0.4069rem + 2.1088vw, 2.9375rem);
    font-weight: 400;
    line-height: clamp(1.2rem, 0.4883rem + 2.5306vw, 3.525rem);
}

.manufacter-info__row-1 .manufacter-info__text h2 {
    margin-top: 29px;
}

.manufacter-info__row-2 .manufacter-info__text h2 {
    margin-top: 40px;
}

.manufacter-brand {
    margin-top: clamp(3.125rem, -0.2581rem + 5.0588vw, 5.8125rem);
    margin-bottom: clamp(2.7rem, -1.9262rem + 6.9176vw, 6.375rem);
}

.manufacter-brand__container {
    max-width: 1920px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: clamp(0.9375rem, -7.7169rem + 12.9412vw, 7.8125rem);
    display: flex;
    justify-content: end;
}

.manufacter-brand__column {
    max-width: 1348px;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.manufacter-brand__column h2 {
    margin-left: 32px;
    text-transform: uppercase;
    margin-bottom: clamp(1.5rem, 1.1365rem + 1.2925vw, 2.6875rem);
    font-family: PF Regal Display Pro;
    font-size: clamp(1rem, 0.4069rem + 2.1088vw, 2.9375rem);
    font-weight: 400;
    line-height: clamp(1.2rem, 0.4883rem + 2.5306vw, 3.525rem);
}

.manufacter-brand__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 100px;
    row-gap: 52px;
    align-items: center;
}

@media (max-width: 1550px) {
    .manufacter-info__row-1 {
        padding-left: 30px;
    }
}

@media (max-width: 1070px) {
    .manufacter-video {
        margin-top: 0;
    }

    .manufacter-video__container {
        padding-inline: 0;
    }

    .manufacter-video__group video {
        max-height: none;
        height: 623px;
    }

    .manufacter-brand__row img {
        max-width: 100px;
        max-height: 30px;
    }
    
}

@media (max-width: 768px) {    

    .manufacter-brand__column h2 {
        display: none;
    }

    .manufacter-brand__row {
        column-gap: 20px;
        row-gap: 16px;
    }

    .manufacter-info__row-1,
    .manufacter-info__row-2 {
       padding-inline: 15px;
       flex-direction: column;
       gap: 24px;
    }

    .manufacter-info__row-1 .manufacter-info__text h2,
    .manufacter-info__row-2 .manufacter-info__text h2 {
        margin-top: 0;
    }

    .manufacter-info__row-1 {
        gap: 24px;
    }

    .manufacter-info__row-2 {
        flex-direction: column-reverse;
    }

    .video-btn {
        right: 3px;
        bottom: 0;
    }

    .manufacter-info__img {
        margin: 0 auto;
    }

    .manufacter-info__img img {
        height: 269px;
    }
    
}